#java {
  display: none;
  margin: 0 30%;
  min-width: 320px;
}

#cssreact {
  display: none;
  margin: 0 30%;
  min-width: 320px;
}

#cnet {
  display: none;
  margin: 0 30%;
  min-width: 320px;
}

.result {
  text-align: center;
}

.result i {
  font-size: 100px;
}
