h1, h2, h3 {
  font-family: "Lora", serif;
}

p, label, button {
  font-family: "Source Sans Pro", sans-serif;
}

#java {
  display: none;
  margin: 0 20%;
  min-width: 320px;
}

#cssreact {
  display: none;
  margin: 0 20%;
  min-width: 320px;
}

#cnet {
  display: none;
  margin: 0 30%;
  min-width: 320px;
}

.result {
  text-align: center;
}

.result i {
  font-size: 100px;
}

a {
  color: #333333;
}

a:hover {
  text-decoration: none;
}

.devicon-java-plain:hover {
  color: #ea2e2e;
}

.devicon-android-plain:hover {
  color: #a4c538;
}

.devicon-css3-plain:hover {
  color: #3c8ec6;
}

.devicon-react-original:hover {
  color: #60dafb;
}

.devicon-csharp-plain:hover {
  color: #672179;
}

.devicon-dot-net-plain:hover {
  color: #1383c9;
}

.devicon-javascript-plain:hover {
  color: #f0db4e;
}
