a {
  color: #333333;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Lora", serif;
}

h3 {
  font-size: 20px;
}

p, label,  {
  font-family: "Source Sans Pro", sans-serif;
}

/*Hide results until after survey is submitted*/
#java {
  display: none;
  min-width: 320px;
}

#cssreact {
  display: none;
  min-width: 320px;
}

#cnet {
  display: none;
  min-width: 320px;
}

#noresult {
  display: none;
  min-width: 320px;
}

/*Bottom borders for questions*/
.form-group {
  border-top: 1px solid #333333;
}

#name-box {
  border-top: none;
}

#question {
  border-top: none;
}

.result {
  text-align: center;
}

.result i {
  font-size: 100px;
}

/*Devicon styling*/
.devicon-java-plain:hover {
  color: #ea2e2e;
}

.devicon-android-plain:hover {
  color: #a4c538;
}

.devicon-css3-plain:hover {
  color: #3c8ec6;
}

.devicon-react-original:hover {
  color: #60dafb;
}

.devicon-csharp-plain:hover {
  color: #672179;
}

.devicon-dot-net-plain:hover {
  color: #1383c9;
}

.devicon-javascript-plain:hover {
  color: #f0db4e;
}

.result h2 {
  margin-bottom: 30px;
}

.result .icons {
  margin-bottom: 30px;
}
